<div class="container mt-5">
  <div class="text-center">
    <span class="fs-3 px-5 py-3" style="background-color: #E54867; font-family: 'ZCOOL KuaiLe', cursive;"> S'inscrire</span>
  </div>
</div>
<%= render 'form_users' %>
