<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <img src="<%= asset_path 'insta-removebg-preview.png' %>" title="logo" class="w-100">
    </div>

    <div class="col-md-6">
      <div class="d-flex flex-column mt-5">
        <div class="welcome">
          Welcome to Instagram Clone. <br>Made by Ruby on Rails
        </div>
        <div class="text-center mt-5">
          <a type="button" class="btn btn-secondary btn-lg" href="<%= new_session_path %>">Se Connecter</a>
        </div>
      </div>
    </div>

  </div>
</div>
